.section-header{padding-bottom: 30px;}


.news,.last_news{
	width:1220px;
	justify-content: center;
	margin: 0px auto;
}
.news_main{display:flex;}
.logo{width:80px;}
.news_article a {color:black;}

/*주요기사*/
.sub_news_title{
	text-align: center;
	font-weight: 700
}
.newsCard{width:1200px;}
.news_sub_container{
	display:flex;
}
.news_sub{width:120px;}


/*하단정보*/
.bottom_news{
	display:flex;
	justify-content: space-between;
}
.sildes-container{list-style-type: none;}
.movie{width:500px;}
.popular{width:580px;}

.news_title{
	text-align: left;
	height: 40px;
}
.news_pic_sub{width:300px;}
.middle-news{
	width: 300px !important;
	height: 180px !important;
}
.news_article_sub{width:800px;}


.movie-info{
	width:1200px;
	justify-content: center;
	margin:0 auto;
	padding:0px;
}
/*영상뉴스*/
#slideShow{
  width: 500px;
  height: 300px;
  position: relative;
  overflow: hidden;
}
.slides{
  position: absolute;
  width: 2500px;
  transition: left 0.5s ease-out; 
  padding:0px;
}
.slides li:not(:last-child){ float: left;}
.slides li{float: left;}
.btns{
	margin-top:20px;
	width:500px;
	display:flex; 
	justify-content: center;
}
.space{width:40px;}
.prev,.next{
	margin-right:0px !important;
	font-size: 30px;
	text-align: center;
	justify-content: center;
}

/*한줄기사*/
.news_b_title{
	font-size: 18px;
	width:500px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.rank{
	font-weight: 600;
	width: 40px;
	height:23px !important;
}
