<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//KO" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.multi.multifin.bank.model.mapper.LoanRentHouseMapper">
	<resultMap type="LoanRentHouse" id="loanRentHouseResultMap">
		<id property="loanRentHouseNo" column="loanRentHouseNo"/>
		<result property="dclsMonth" column="dcls_month"/>
		<result property="finCoNo" column="fin_co_no"/>
		<result property="korCoNm" column="kor_co_nm"/>
		<result property="finPrdtCd" column="fin_prdt_cd"/>
		<result property="finPrdtNm" column="fin_prdt_nm"/>
		<result property="joinWay" column="join_way"/>
		<result property="loanInciExpn" column="loan_inci_expn"/>
		<result property="erlyRpayFee" column="erly_rpay_fee"/>
		<result property="dlyRate" column="dly_rate"/>
		<result property="loanLmt" column="loan_lmt"/>
		<result property="dclsStrtDay" column="dcls_strt_day"/>
		<result property="dclsEndDay" column="dcls_end_day"/>
		<result property="finCoSubmDay" column="fin_co_subm_day"/>
		
		<result property="rpayType" column="rpay_type"/>
		<result property="rpayTypeNm" column="rpay_type_nm"/>
		<result property="lendRateType" column="lend_rate_type"/>
		<result property="lendRateTypeNm" column="lend_rate_type_nm"/>
		<result property="lendRateMin" column="lend_rate_min"/>
		<result property="lendRateMax" column="lend_rate_max"/>
		<result property="lendRateAvg" column="lend_rate_avg"/>
	
	</resultMap>
	
	<!-- 신용대출전체 -->
	<select id="selectLoanRentHouseList" resultMap="loanRentHouseResultMap">
		SELECT dcls_month, fin_co_no, kor_co_nm, fin_prdt_cd, fin_prdt_nm, join_way, loan_inci_expn, erly_rpay_fee, dly_rate,
			rpay_type, rpay_type_nm, lend_rate_type, lend_rate_type_nm, MIN(lend_rate_avg) as lend_rate_avg
		FROM LoanRentHouse
		WHERE rpay_type='S' AND lend_rate_type='F'
		GROUP BY dcls_month, fin_co_no, kor_co_nm, fin_prdt_cd, fin_prdt_nm, join_way, loan_inci_expn, erly_rpay_fee, dly_rate,
			rpay_type, rpay_type_nm, lend_rate_type, lend_rate_type_nm
	</select>
	
	<select id="selectLoanRentHouseListAll" resultMap="loanRentHouseResultMap" parameterType="string">
		SELECT * FROM LoanRentHouse LRH
		WHERE LRH.fin_prdt_cd = #{finPrdtCd}
	</select>
	
	<select id="selectLoanRentHouseCountAll" resultType="int" parameterType="map">
		SELECT COUNT(*) FROM LoanRentHouse LRH
		WHERE 1=1
		<if test="korCoNm != null">
			AND(
				LRH.kor_co_nm like '%${korCoNm}%' 
			)
		</if>
	</select>
	
	<select id="selectLoanRentHouseListUnique" resultMap="loanRentHouseResultMap" parameterType="map">
		SELECT dcls_month, fin_co_no, kor_co_nm, fin_prdt_cd, fin_prdt_nm, join_way, loan_inci_expn, erly_rpay_fee, dly_rate,
			rpay_type, rpay_type_nm, lend_rate_type, lend_rate_type_nm, MIN(lend_rate_avg) as lend_rate_avg
		FROM LoanRentHouse LRH
		WHERE rpay_type='S' AND lend_rate_type='F'
		<if test="korCoNm != null">
			AND(
				LRH.kor_co_nm like '%${korCoNm}%' 
			)
		</if>
		GROUP BY dcls_month, fin_co_no, kor_co_nm, fin_prdt_cd, fin_prdt_nm, join_way, loan_inci_expn, erly_rpay_fee, dly_rate,
			rpay_type, rpay_type_nm, lend_rate_type, lend_rate_type_nm
		LIMIT ${limit} OFFSET ${offset}
	</select>
	
	<select id="selectLoanRentHouseCountUnique" resultType="int" parameterType="map">
		SELECT COUNT(DISTINCT fin_prdt_cd)
		FROM LoanRentHouse LRH
		WHERE 1=1
		<if test="korCoNm != null">
			AND(
				LRH.kor_co_nm like '%${korCoNm}%' 
			)
		</if>
	</select>
</mapper>