<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<body>
<!-- 푸터 시작 -->
<footer id="footer" class="footer pb-3 bg-primary text-white pt-4">
    <div class="container">
        <div class="row">
            <div class="col-xl-2 mb-3 mb-xl-0">
                <img th:src="@{/assets/img/ours/logo01_white.png}" height="80" class="mb-3" alt="Spaces logo">
            </div>
            <div class="col-6 mb-5 mb-xl-0">
                <span class="h5">MULTIFIN</span>
                <ul class="footer-links mt-2">
                    <li><a target="_blank" href="https://www.notion.so/1612e95890584ef8b4854804e7c2356c">멀티핀</a></li>
                    <li><a target="_blank" href="#">서울특별시 강남구 언주로 508(역삼동 701번지) 서울상록빌딩 12~17층</a></li>
                    <li><a target="_blank" href="#">왕예빈 박원철 박지나 안종호 이인희 정우성 최지유</a></li>
                </ul>
            </div>
            <div class="col-xl-4 mb-5 mb-xl-0 text-right footer_snsicon">
                <div>
                    <button class="btn btn-sm btn-white mb-xl-0 mr-2 mr-lg-2">
                        <span class="icon icon-brand"><i class="fa-brands fa-twitter"></i></span>
                    </button>
                    <button class="btn btn-sm btn-white mb-xl-0 mr-2 mr-lg-2">
                        <span class="icon icon-brand"><i class="fa-brands fa-google-drive"></i></span>
                    </button>
                    <button class="btn btn-sm btn-white mb-xl-0 mr-2 mr-lg-2">
                        <span class="icon icon-brand"><i class="fa-brands fa-facebook-f"></i></span>
                    </button>
                </div>
            </div>
        </div>
        <p class="font-weight-normal font-small text-right mb-0 mt-2">Copyright © Themesberg
            <span class="current-year">2020</span>. All rights reserved.</p>
    </div>
</footer>
<!-- 푸터 끝 -->

</body>
</html>