
<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="scripts">
<!-- Core -->
<script th:src="@{/assets/vendor/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/assets/vendor/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/vendor/headroom.js/dist/headroom.min.js}"></script>
<script th:src="@{/assets/vendor/onscreen/dist/on-screen.umd.min.js}"></script>

<!-- Spaces custom Javascript -->
<script th:src="@{/assets/js/spaces.js}"></script>

<!-- NoUISlider -->
<script th:src="@{/vendor/nouislider/distribute/nouislider.min.js}"></script>

<!-- Bootstrap Datepicker -->
<script th:src="@{/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}"></script>

<!-- jQuery Waypoints -->
<script th:src="@{/vendor/waypoints/lib/jquery.waypoints.min.js}"></script>

<!-- Owl acrousel -->
<script th:src="@{/vendor/owl.carousel/dist/owl.carousel.min.js}"></script>

<!-- Smooth scroll -->
<script th:src="@{/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js}"></script>

<!-- Fancybox -->
<script th:src="@{/vendor/@fancyapps/fancybox/dist/jquery.fancybox.min.js}"></script>

<!-- Sticky sidebar -->
<script th:src="@{/vendor/sticky-sidebar/dist/sticky-sidebar.min.js}"></script>

<!-- Mapbox & Leaflet.js -->
<script th:src="@{/vendor/leaflet/dist/leaflet.js}"></script>

<!-- Chartist -->
<script th:src="@{/vendor/chartist/dist/chartist.min.js}"></script>
<script th:src="@{/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js}"></script>

<!-- Vector Maps -->
<script th:src="@{/vendor/jqvmap/dist/jquery.vmap.min.js}"></script>
<script th:src="@{/vendor/jqvmap/dist/maps/jquery.vmap.usa.js}"></script>

<!-- Sliderform -->
<script th:src="@{/assets/js/jquery.slideform.js}"></script>


</th:block>

<th:block th:fragment="home_scripts">
<!-- Core -->
<script th:src="@{/assets/vendor/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/assets/vendor/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/vendor/headroom.js/dist/headroom.min.js}"></script>
<script th:src="@{/assets/vendor/onscreen/dist/on-screen.umd.min.js}"></script>

<!-- NoUISlider -->
<script th:src="@{/assets/vendor/nouislider/distribute/nouislider.min.js}"></script>

<!-- Bootstrap Datepicker -->
<script th:src="@{/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}"></script>

<!-- Owl acrousel -->
<script th:src="@{/assets/vendor/owl.carousel/dist/owl.carousel.min.js}"></script>

<!-- Smooth scroll -->
<script th:src="@{/assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js}"></script>

<!-- Fancybox -->
<script th:src="@{/assets/vendor/@fancyapps/fancybox/dist/jquery.fancybox.min.js}"></script>

<!-- Sticky sidebar -->
<script th:src="@{/assets/vendor/sticky-sidebar/dist/sticky-sidebar.min.js}"></script>

<!-- Mapbox & Leaflet.js -->
<script th:src="@{/assets/vendor/leaflet/dist/leaflet.js}"></script>

<!-- Chartist -->
<script th:src="@{/assets/vendor/chartist/dist/chartist.min.js}"></script>
<script th:src="@{/assets/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js}"></script>

<!-- Vector Maps -->
<script th:src="@{/assets/vendor/jqvmap/dist/jquery.vmap.min.js}"></script>
<script th:src="@{/assets/vendor/jqvmap/dist/maps/jquery.vmap.usa.js}"></script>

<!-- Spaces custom Javascript -->
<script th:src="@{/assets/js/spaces.js}"></script>
</th:block>
</html>