<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="layout/head :: config"></th:block>
	<title>MultiFin:주가동향</title>
	
	<!-- 현재 페이지에서만 쓰는 css, script -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/stock/stockFuture.css}">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.2.0/chartjs-plugin-zoom.min.js"></script>
</head>
<body>
<header th:replace="~{layout/header :: #header}"></header>
    <main>
        <section class="section-header section-image bg-primary overlay-primary text-white"   data-background="../../assets/img/stock/earth.jpg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 text-center">
                        <h1 class="mb-3 stock-mainTitle">주가 상세</h1>
                        <p class="lead px-lg-5 mb-5 stock-mainSubtitle">MULTIFIN에서 주가 상세 정보를 살펴보고 현명한 주식 투자에 도전해 보세요!</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
   <section class="future">
        <div class="future-description">
                <div class="stock_type">[[${sp.mrktCtg}]]</div>
                <div class="stock_info">
                    <h3 class="stock-title">[[${sp.itmsNm}]]</h3>
                </div>
                <div class="money_info">
                    <th:block th:if="${#strings.contains(sp.fltRt, '-') == true } ">
                    	<h4 class="money decrease">[[${#numbers.formatInteger(sp.clpr, 0, 'COMMA')}]] 원</h4>
		                <h6 class="money-description decrease">▼ [[${sp.vs}]] ([[${sp.fltRt}]]%)</h6>
					</th:block>
					<th:block th:if="${#strings.contains(sp.fltRt, '-') == false } ">
						<h4 class="money increase">[[${#numbers.formatInteger(sp.clpr, 0, 'COMMA')}]] 원</h4>
		                <h6 class="money-description increase">▲ [[${sp.vs}]] (+[[${sp.fltRt}]]%)</h6>
					</th:block>		                                    
                </div>
        </div>
        <div class="stock_info_container">
            <div class="card shadow-soft stock_graph_card">
                <div class="stock_graph">
                    <div id="legend-div" class="legend-div"></div>
                    <canvas th:id="${sp.itmsNm}" class="now_graph" style="width:840px; height: 303px;"></canvas>
                </div>
                <div class="now">
                    <div class="now-title">데이터 정보</div>
                	<div class="now-sub">[[${#dates.format(sp.basDt, 'MM/dd')}]]&nbsp; 18:00 KST 장마감</div>
                </div>   
            </div>
            <div class="card shadow-soft stock_info_card">     
                <div class="stock_detail_info">
                    <div class="stock_detail_infoes">
                        <h6 class="stock_detail_info_title">1일 최고가</h6>
                        <h6 class="stock_detail_info_sub">[[${#numbers.formatInteger(sp.hipr, 0, 'COMMA')}]] 원</h6>
                    </div>
                    <div class="stock_detail_infoes">
                        <h6 class="stock_detail_info_title">1일 최저가</h6>
                        <h6 class="stock_detail_info_sub">[[${#numbers.formatInteger(sp.lopr, 0, 'COMMA')}]] 원</h6>
                    </div>
                    <div class="stock_detail_infoes">
                        <h6 class="stock_detail_info_title">상장 주식수</h6>
                        <h6 class="stock_detail_info_sub">[[${#numbers.formatInteger(sp.lstgStCnt, 0, 'COMMA')}]]  주</h6>
                    </div>
                    <th:block th:if="${#strings.contains(sp.fltRt, '-') == true } ">
						<div class="stock_detail_infoes">
	                        <h6 class="stock_detail_info_title decrease">전일대비등락</h6>
	                        <h6 class="stock_detail_info_sub decrease">[[${#numbers.formatInteger(sp.vs, 0, 'COMMA')}]]원</h6>
	                    </div>
	                     <div class="stock_detail_infoes">
	                        <h6 class="stock_detail_info_title decrease">전일비</h6>
	                        <h6 class="stock_detail_info_sub decrease">▼ [[${sp.fltRt}]] %</h6>
	                    </div>
					</th:block>
					<th:block th:if="${#strings.contains(sp.fltRt, '-') == false } ">
						<div class="stock_detail_infoes">
	                        <h6 class="stock_detail_info_title increase">전일대비등락</h6>
	                        <h6 class="stock_detail_info_sub increase">[[${#numbers.formatInteger(sp.vs, 0, 'COMMA')}]]원</h6>
	                    </div>
	                     <div class="stock_detail_infoes">
	                        <h6 class="stock_detail_info_title increase">전일비</h6>
	                        <h6 class="stock_detail_info_sub increase">▲ [[${sp.fltRt}]]</h6>
	                    </div>
					</th:block>
					<div class="stock_detail_infoes">
                        <h6 class="stock_detail_info_title">오픈가</h6>
                        <h6 class="stock_detail_info_sub">[[${#numbers.formatInteger(sp.mkp, 0, 'COMMA')}]] 원</h6>
                    </div>
                </div>
            </div>
        </div>
   </section>
   <section class="bg-white  stock_description_container">
    <div class="card shadow-soft stock_details">     
        <h5 class="stock_details_title">투자 거래 현황</h5>
        <table class="stock_table">
          <tr class="table_row table_header">
            <th class="table-headerr">일자</th>
            <th class="table-headerr">오픈가</th>
            <th class="table-header">고가</th>
            <th class="table-header">저가</th>
            <th class="table-header">종가</th>
            <th class="table-header">등락률</th>
            <th class="table-header">전일대비가격</th>
            <th class="table-header">거래량</th>
            <th class="table-header">거래대금</th>
          </tr>
          <tr class="table_row"  th:each="stockList : ${stockList}">
            <td class="board-content">[[${#dates.format(stockList.basDt, 'YYYY-MM-dd')}]]</td>
            <td class="board-content">[[${#numbers.formatInteger(stockList.mkp, 0, 'COMMA')}]]</td>
            <td class="board-content">[[${#numbers.formatInteger(stockList.hipr, 0, 'COMMA')}]]</td>
            <td class="board-content">[[${#numbers.formatInteger(stockList.lopr, 0, 'COMMA')}]]</td>
            <td class="board-content">[[${#numbers.formatInteger(stockList.clpr, 0, 'COMMA')}]]</td>
            <th:block th:if="${#strings.contains(stockList.fltRt, '-') == true } ">
            	<td class="board-content decrease">▼ [[${stockList.fltRt}]] %</td>
           		<td class="board-content decrease">▼ [[${#numbers.formatInteger(stockList.vs, 0, 'COMMA')}]] 원</td>
			</th:block>
            <th:block th:if="${#strings.contains(stockList.fltRt, '-') == false } ">
                 <td class="board-content increase">▲ [[${stockList.fltRt}]] %</td>
           		 <td class="board-content increase">▲ [[${#numbers.formatInteger(stockList.vs, 0, 'COMMA')}]] 원</td>
			</th:block>
            <td class="board-content">[[${#numbers.formatInteger(stockList.trqu, 0, 'COMMA')}]]</td>
            <td class="board-content">[[${#numbers.formatInteger(stockList.trPrc, 0, 'COMMA')}]]</td>
          </tr>
        </table>
    </div>
   </section>
    <section class="bg-white pb-6">
        <div class="stock_future_container">
            <div class="card shadow-soft adver">     
                <h5 class="adver_title">모의 주식 투자</h5>
                <h6 class="adver__description">가상 매매 시스템을 통해 모의 주식 투자를 경험해 보세요!</h6>
                <button class="adver_btn" onclick="location.href='/stock/stockTest'">체험하기</button>
                <div class="adver_icon">
                    <i class="fa-solid fa-chart-simple"></i>
                </div>
            </div>
            <div class="card shadow-soft stock_description_card">     
                <div class="stock_future_info">
                    <h5 class="stock_future_title">주가 동향</h5>
                </div>
                <div class="future_stock_graph">
                    <canvas id="future_stock_graph" style="width:900px; height: 300px;"></canvas>
                </div>
            </div>
        </div>
    </section>
<footer th:replace="~{layout/footer :: #footer}"></footer>
<th:block th:replace="layout/scripts :: scripts"></th:block>

<!--제작한  js-->
<script th:src="@{/assets/js/stock/stockFuture.js}"> </script>
</body>