<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="layout/head :: config"></th:block>
	<title>MultiFin:모의주식매매</title>
	<!-- 현재 페이지에서만 쓰는 css, script -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/stock/stockSelling.css}">
	<!--주식차트-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</head>
<body>
<header th:replace="~{layout/header :: #header}"></header>
    <main>
        <section class="section-header section-image bg-primary overlay-primary text-white"  data-background="../../assets/img/stock/earth.jpg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 text-center">
                        <h1 class="mb-3 stock-mainTitle">모의 주식 매도</h1>
                    </div>
                </div>
            </div>
        </section>
    </main>
   <section class="future">
        <div class="future-description">
              <div class="stock_type">[[${sp.mrktCtg}]]</div>
                <div class="stock_info">
                    <h3 class="stock-title">[[${sp.itmsNm}]]</h3>
                </div>
                <div class="money_info">
                    <th:block th:if="${#strings.contains(sp.fltRt, '-') == true } ">
                    	<h4 class="money decrease">[[${#numbers.formatInteger(sp.clpr, 0, 'COMMA')}]] 원</h4>
		                <h6 class="money-description decrease">▼ [[${sp.vs}]] ([[${sp.fltRt}]]%)</h6>
					</th:block>
					<th:block th:if="${#strings.contains(sp.fltRt, '-') == false } ">
						<h4 class="money increase">[[${#numbers.formatInteger(sp.clpr, 0, 'COMMA')}]] 원</h4>
		                <h6 class="money-description increase">▲ [[${sp.vs}]] (+[[${sp.fltRt}]]%)</h6>
					</th:block>		                                    
                </div>
        </div>
        <div class="stock_info_container">
            <div class="card shadow-soft stock_graph_card">
                <div id="stock-graph" class="stock_graph">
                    <canvas th:id="${sp.itmsNm}" class="now_graph" style="width:1140px; height: 303px;"></canvas>
                </div>
            </div>
        </div>
   </section>
   <section class="bg-white  stock_description_container">
    <div class="card shadow-soft stock_details">     
        <h4 class="stock_details_title">모의투자 매도</h4>
        <form class="sell" action="/stock/realSell" method="get">
        	<input type="text" value="매도" name="tradeStat" style="display:none;">
        	<input type="text" th:value="${sp.itmsNm}" name="stockNum" style="display:none;">
        	<input type="text" th:value="${stockPrice}" name="price"  style="display:none;">
        	<input type="text" id="allMoney" name="totalPrice" style="display:none;">
            <div class="selling-now">
                <h5 class="selling-now_money-title">매도 가격</h5>
                <h5 class="selling-now_money"><input class="total_money" th:id="${stockPrice}" style="color: rgb(52, 152, 219)" th:value="${#numbers.formatInteger(sp.clpr, 0, 'COMMA')}">원</h5>
            </div>
            <div class="selling-amount mb-4">
                <h5 class="selling-amount-title">매도 수량</h5>
                  <div class="input_box"><input type="text"  name="cnt" id="selling-able-amount" class="selling-able-amount" placeholder="매도 수량" onkeyup='printName()' >주</div>
                    <div class="selling_amount_btn"> 
                        <div th:onclick="updateMoney(${stockPrice})" class="selling-amount-able" th:value="${cnt}">[[${cnt}]]주 판매 가능</div> 
                    </div>
                </div>
                <div class="selling-total">
                    <h5 class="selling-money-title">매도 금액</h5>
                    <div class="realSell" value="0"> 
                   		 <span id="total_money" class="total_money" style="color: rgb(52, 152, 219)"></span>원
                    </div>
                </div>
                <input type="submit" class="selling-btn" value="매 도"></input>
            </div>
        </form>
      
    </div>
    <div class="card shadow-soft stock_more">
        <h4 class="stock_details_title">궁금한 것이 <br> 있으신가요?</h4>
        <h6 class="stock_sell_description">멀티핀의 챗봇을 이용해 궁금증을 해결해 보세요!</h6>
        <a th:href="@{/common/chatbot}" target="_blank">
       		 <i class="fa-solid fa-comments fa-2x onlineChatBtn mt-3" style="color:rgb(13, 27, 72);"></i>
        </a>
    </div>
   </section>
<section class="stock__total pb-4">
  <div class="stock__total_table">
    <div class="kr_stock">
      <div class="stock__table mb-3 mr-1">
        <h5 class="rank_title">KOSPI <span style="color: rgb(231, 76, 60);">TOP5</span></h5>
        <table class="stock">
			<tr th:each="KOSPI, number : ${KOSPI}">
				<td class="stock__rank" th:text="${number.index}+1"></td>
				<td th:text="${KOSPI.itmsNm}"></td>
				<td class="table-content">[[${#numbers.formatInteger(KOSPI.clpr, 0, 'COMMA')}]] 원</td>
				<th:block th:if="${#strings.contains(KOSPI.fltRt, '-') == true } ">
			         <td class="decrease">▼ [[${KOSPI.fltRt}]] %</td>
				</th:block>	                                    
				<th:block th:if="${#strings.contains(KOSPI.fltRt, '-') == false } ">
			         <td class="increase">▲ [[${KOSPI.fltRt}]] %</td>
				</th:block>
			</tr>
         </table>
      </div>
      <div class="stock__table mb-3 mr-1">
        <h5 class="rank_title">KOSDAQ <span style="color: rgb(231, 76, 60);">TOP5</span></h5>
        <table class="stock">
			<tr th:each="KOSDAQ, number : ${KOSDAQ}">
				<td class="stock__rank" th:text="${number.index}+1"></td>
				<td th:text="${KOSDAQ.itmsNm}"></td>
				<td class="table-content">[[${#numbers.formatInteger(KOSDAQ.clpr, 0, 'COMMA')}]] 원</td>
				<th:block th:if="${#strings.contains(KOSDAQ.fltRt, '-') == true } ">
			         <td class="decrease">▼[[${KOSDAQ.fltRt}]] %</td>
				</th:block>	                                    
				<th:block th:if="${#strings.contains(KOSDAQ.fltRt, '-') == false } ">
			         <td class="increase">▲[[${KOSDAQ.fltRt}]] %</td>
				</th:block>
			</tr>
         </table>
      </div>
    </div>
    <div class="stock__table er mr-1">
      <h5 class="rank_title"><span style="color: rgb(231, 76, 60);">Today's</span> Exchange rate </h5>
      <table class="stock">
        <tr>
          <td>1</td>
          <td>[[${#dates.format(USD.recorddate, 'MM/dd')}]]</td>
          <td>[[${USD.curUnit}]] / KRW</td>
          <td class="table_money">[[${USD.dealBasR}]] 원</td>
          <td class="table_name">[[${USD.curNm}]]</td>
        </tr>
         <tr>
          <td>2</td>
          <td>[[${#dates.format(JPY.recorddate, 'MM/dd')}]]</td>
          <td>JPY / KRW</td>
          <td class="table_money">[[${JPY.dealBasR}]] 원</td>
          <td class="table_name">[[${JPY.curNm}]]</td>
        </tr>
        <tr>
          <td>3</td>
          <td>[[${#dates.format(GBP.recorddate, 'MM/dd')}]]</td>
          <td>[[${GBP.curUnit}]] / KRW</td>
          <td class="table_money">[[${GBP.dealBasR}]] 원</td>
          <td class="table_name">[[${GBP.curNm}]]</td>
        </tr>
        <tr>
          <td>4</td>
          <td>[[${#dates.format(HKD.recorddate, 'MM/dd')}]]</td>
          <td>[[${HKD.curUnit}]] / KRW</td>
          <td class="table_money">[[${HKD.dealBasR}]] 원</td>
          <td class="table_name">[[${HKD.curNm}]]</td>
        </tr>
        <tr>
          <td>5</td>
          <td>[[${#dates.format(EUR.recorddate, 'MM/dd')}]]</td>
          <td>[[${EUR.curUnit}]] / KRW</td>
          <td class="table_money">[[${EUR.dealBasR}]] 원</td>
          <td class="table_name">[[${EUR.curNm}]]</td>
        </tr>
        <tr>
          <td>6</td>
          <td>[[${#dates.format(CNH.recorddate, 'MM/dd')}]]</td>
          <td>[[${CNH.curUnit}]] / KRW</td>
          <td class="table_money">[[${CNH.dealBasR}]] 원</td>
          <td class="table_name">[[${CNH.curNm}]]</td>
        </tr>
        <tr>
          <td>7</td>
          <td>[[${#dates.format(AUD.recorddate, 'MM/dd')}]]</td>
          <td>[[${AUD.curUnit}]] / KRW</td>
          <td class="table_money">[[${AUD.dealBasR}]] 원</td>
          <td class="table_name">[[${AUD.curNm}]]</td>
        </tr>
        <tr>
          <td>8</td>
          <td>[[${#dates.format(SGD.recorddate, 'MM/dd')}]]</td>
          <td>[[${SGD.curUnit}]] / KRW</td>
          <td class="table_money">[[${SGD.dealBasR}]] 원</td>
          <td class="table_name">[[${SGD.curNm}]]</td>
        </tr>
        <tr>
          <td>9</td>
          <td>[[${#dates.format(THB.recorddate, 'MM/dd')}]]</td>
          <td>[[${THB.curUnit}]] / KRW</td>
          <td class="table_money">[[${THB.dealBasR}]] 원</td>
          <td class="table_name">[[${THB.curNm}]]</td>
        </tr>
         <tr>
          <td>10</td>
          <td>[[${#dates.format(CAD.recorddate, 'MM/dd')}]]</td>
          <td>[[${CAD.curUnit}]] / KRW</td>
          <td class="table_money">[[${CAD.dealBasR}]] 원</td>
          <td class="table_name">[[${CAD.curNm}]]</td>
        </tr>
      </table>
    </div>
    <div class="stock__table adver">
        <h5 class="adver__Title">모의 주식 투자</h5>
        <h6 class="adver__description">가상의 매매 시스템을 통해 모의 주식 투자를 경험해 보세요!</h6>
        <button class="adver_btn"  onclick="location.href='/stock/stockTest'" >체험하기</button>
        <div class="adver_icon">
            <i class="fa-solid fa-chart-simple"></i>
        </div>
    </div>
  </div>
</section>
<footer th:replace="~{layout/footer :: #footer}"></footer>
<th:block th:replace="layout/scripts :: scripts"></th:block>

<!--제작한  js-->
<script src="/assets/js/stock/stockSell.js"></script>
</body>